br {
    clear: both;
}
#container {
    margin: auto;
    width: 1280px;
    height: 800px;
    cursor: default;
    overflow: hidden;
}
#leftbox {
    width: 380px;
    height:800px;
    float: left;
}
#rightbox {
    width: 900px;
    height:800px;
    float: right;
}
#menuleft {
    width: 380px;
    height: 22px;
}
#menuright {
    width: 100%;
    height: 22px;
}
#list {
    width: 380px;
    height: 778px;
    overflow: auto;
}
#content {
    width: 100%;
    height: 778px;
}
.filterlist {
    list-style: none;
}
.filterlistelement {
    float: left;
    padding: 0.2em;
    margin: 0.1em;
}
.hidden {
    display: none;
}
.active {
    background: red;
}
.solution {
    width: 100%;
    height: 770px;
}
.solutionlist {
    width: 40%;
    height: 770px;
    float: left;
    overflow: auto;
}
.solutiontext {
    width: 60%;
    height: 770px;
    float: left;
}
.solutionpro {
    list-style: none;
    padding: 2px;
}
.solutioncontra  {
    list-style: none;
    padding: 2px;
}
.solutionneutral {
    list-style: none;
    padding: 2px;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
.mybutton {
    font-size: 0.7em !important;
}
.slideout {
    margin-left: -358px;
}
.widebox {
    width: 1258px !important;
}
ul .comment {
    list-style: none;
}
.debatelist {
    list-style: none;
}
.debatesolution {
    cursor: pointer;
}
li .comment {
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.comment {
    margin: 2px;
}
.solutioncommentlink {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.newdebate span span {
    float: left;
    width: 150px;
}
.newdebate span input, .newdebate span textarea {
    float: left;
    width: 500px;
}
/*.headline {
    border-radius: 10px 10px 0 0;
    padding: 5px;
    width: 100%;
    height: 20px;
    background: orange;
}
.content {
    width: 100%;
    height: 740px;
    overflow: auto;
    background: white;
    border: 5px solid orange;
}
.solutionContent {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
}
.contentLeft {
    width: 572px;
    padding: 30px;
    height: 680px;
    overflow: auto;
    background: white;
    float: left;
    border-right-width: 3px;
    border-right-style:groove;
}
.contentRight {
    width: 572px;
    height: 100%;
    overflow: auto;
    background: white;
    border-left-width: 3px;
    border-left-style:groove;
}
.footer {
    border-radius: 0 0 10px 10px;
    padding: 5px;
    width: 100%;
    height: 20px;
    background: orange;
}
.clear {
    clear: both;
}
.layer1title {
    font-weight: bold;
    margin: 15px;
}
.layer1link {
    padding: 15px;
}
.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: grey;
    
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.form {
    position: absolute;
    top: 100px;
    left: 50%;
    padding: 10px;
    margin-left: -250px;
    background: lightgrey;
    border-radius: 30px 30px 30px 30px;
}
.title {
    font-weight: bold;
}
.back {
    float: right;
}
.button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size :15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}.button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}.button:active {
    position: relative;
    top: 1px;
}
.buttonCreate {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: orange;
    display: inline-block;
    color: black;
    font-size: 15px;
    border-radius: 0px 0px 0px 10px;
}.buttonCreate:hover {
    background-color: #FFCC00;
}.buttonCreate:active {
    position:relative;
    top:1px;
}
td {
    text-align: top;
}
input, textarea {
    width: 100%;
}
a:link{color:#000;}
a:visited{color:#ff0;}
a:hover{color: blue; text-decoration:underline;}
a:active{color:#f00;}

.listelement {
    border: 1px solid black;
    float: left;
    padding: 10px;
    margin: 10px;
}*/